<!--divides into individual boxes-->
<div class='media' id='<%= "item-#{item.id}" %>'>
  <div class='media-body outline'>
    <%= "#{item.name}" %>
  </div>
  <div class='media-body outline'>
     Time Remaining<%=":  #{time_remaining(item)}" %>
  </div>
  <div class='media-body outline'>
    <%= link_to "Edit", edit_user_item_path(current_user,id: item.id), class: 'btn btn-primary btn-sm' %>
  </div>
  <div class='media-body outline outline-right'>
    <%= check_box_tag "item_ids[]", item.id  %>
  </div>
</div>
