
<h1>Items</h1>
<% if@user == current_user %>
<div class="item-list">
  <div class="js-items">
    <%= form_tag user_items_path(@user), method: :delete do %>
      <h3><%= render @items %></h3>
      <%= submit_tag "Delete Items", class: 'btn btn-xs btn-danger pull-right' %>
      <br>
    <% end %>
    <div class='new-items items-form'>
      <h4>New To Do Item</h4>
      <%= render partial: 'form', locals: {user: @user, item: Item.new, remote: true}  %><!--form for creating a new item-->

    </div>  
  </div>
</div>
<% else %>
<%= flash[:alert] = "You are not allowed to view this page" %>
<% end %>
